body {
    font-family: 'ClashDisplay-Variable', sans-serif;
}

/* #kategori::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
    height: 2px;
} */

/* #kategori::-webkit-scrollbar {
    width: 0;
}
#kategori:hover::-webkit-scrollbar {
    width: 2px;
} */

.calendar-wrapper {
    width: 100%;
}

.calendar {
    display: flex;
    gap: 8px;
    transform: translateX(0);
}
