body {
    font-family: 'ClashDisplay-Variable', sans-serif;
}

/* #kategori::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
    height: 2px;
} */

/* #kategori::-webkit-scrollbar {
    width: 0;
}
#kategori:hover::-webkit-scrollbar {
    width: 2px;
} */

.calendar-wrapper {
    width: 100%;
}

.calendar {
    display: flex;
    gap: 8px;
    transform: translateX(0);
}

.calendar-container {
    display: flex;
    transition: transform 0.5s ease;
    overflow: hidden;
    width: 100%; /* Atur sesuai kebutuhan */
}

.calendar-item {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    /* Tambahkan gaya lainnya sesuai kebutuhan */
}

.calendar-item.active {
    background-color: #FFD700; /* Misal, beri warna berbeda pada item aktif */
}


::-webkit-calendar-picker-indicator {
    background-color: #FFD700;
    border-radius: 4px;
}
::-webkit-calendar-picker-indicator:hover {
    background-color: #E3BC00;
    border-radius: 4px;
}